body {
	margin: 0px;
	background: url(/consumption/resources/gfx/background.png);
	background-repeat: repeat;
}
/* Start Dang nhap*/
#container {
	margin: 0 auto;
	padding: 0 20px 10px 20px;
	background: #333;
}

.loginCls {
	padding-right: 20px;
}

.logindiv {
	width: 450px;
	margin: 250px auto;
	text-align: center;
}

.login-body {
	background: #FFF;
	padding-bottom: 15px;
	border: 1px solid #ccc;
	padding: 0 0 10px 0;
	text-align: left;
	width: 100%;
	overflow: hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
}

.input-login {
	width: 255px !important;
	font: bold 16px Helvetica, Arial, Verdana, sans-serif !important;
	letter-spacing: -1px !important;
	vertical-align: bottom !important;
	border-radius: 5px !important;
	height: 30px !important;
	margin: 5px !important;
}

.lable-login {
	font-weight: bold !important;
}
/* End Dang nhap*/
.nodisplay {
	display: none;
}

.displayinl {
	display: inline;
}

.display {
	display: block;
}

.ui-widget {
	font-size: 13px;
}

.divheader {
	height: 150px;
	min-width: 1280px;
	background: white;
}

.divheader .bgheader {
	width: 1230px;
	margin: auto;
	padding-top: 6px
}

.divclear {
	clear: both
}

.menuheader {
	margin-top: -25px;
	width: 100%
}

.numberMessages {
	border-radius: 10px;
	background: #CE4848;
	color: white;
	padding: 0px 4px;
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 10px;
}

.formchat {
	width: 250px;
	height: 300px;
	background: gray;
	z-index: 99998;
	position: fixed;
	bottom: 0;
	right: 5px;
	border: 1px green solid;
	border-radius: 5px 5px 0px 0px;
	display: none;
}

.listuserchat {
	width: 150px;
	height: 230px;
	z-index: 99999;
	background: white;
	position: fixed;
	bottom: 42px;
	right: 106px;
	overflow: scoll;
	position: fixed;
	display: none;
}

.listuserchat {
	width: 150px;
	height: 230px;
	background: white;
	overflow: scoll;
}

.listuserchat ul {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
}

.listuserchat li {
	list-style: none;
	height: 30px;
	border-bottom: 1px dotted #ACACAC;
	padding-left: 10px;
	font-size: 13px;
}

a:link {
	text-decoration: none;
}

.listuserchat li:hover {
	background: #D4DBDE;
}

.formchattitle {
	width: 100%;
	height: 30px;
	background: #009688;
	border-radius: 5px 5px 0px 0px
}

.formchatcontent {
	width: 100%;
	height: 230px;
	overflow: scroll;
	height: 230px;
}

.formchatcontent .detailcontent {
	margin: 5px;
	background: #B3E5FC;
	width: 180px;
	font-size: 13px
}

.formchatinput {
	width: 100%;
	height: 40px;
	background: white;
	position: absolute;
	bottom: 0px;
}

.ui-widget .ui-widget {
	font-size: 13px;
}

.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #F6FAFC;
	box-shadow: none;
	border: green 1px solid;
}

.ui-layout-unit-content {
	height: auto !important;
}

.logo {
	float: left;
	margin-top: 20px;
}

.main_menu {
	float: right;
	margin-top: 20px;
}

.main_menu li {
	list-style: none;
}

.main_menu a {
	text-decoration: none;
	color: gray;
	font-size: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main_menu a:hover {
	color: green;
}

.main_menu a i {
	padding: 4px;
}

.clear {
	clear: both;
}

.wrapper {
	background: white;
	margin: 0px auto;
}

.main_menu>ul>li {
	float: left;
	padding: 1px 27px;
	position: relative;
}

.main_menu>ul>li:last-child {
	border-right: none;
}

.main_menu>ul>li>ul {
	display: none;
	position: absolute;
	background: #F1F6F9;
	width: 220px;
	padding-left: 5px;
}

.main_menu>ul>li:hover ul {
	display: block;
	z-index: 9999;
	border-bottom: solid 5px #71CC8D;
	border-top: solid 5px #71CC8D;
	/* 	background: gray; */
}

.main_menu ul li:hover {
	transition: all 0.25s;
}

.main_menu>ul>li>ul>li {
	border-bottom: 1px dotted #ACACAC;
}

.main_menu>ul>li>ul>li {
	text-align: left;
}

.main_menu>ul>li>ul>li:hover {
	color: white;
}

.main_menu>ul>li>ul>li:hover ul {
	border: solid 5px #71CC8D;
}

.main_menu>ul>li.space {
	border-right: dotted gray;
	height: 15px;
	margin-top: 8px;
	padding: 0px;
}

.ui-menuitem-icon {
	margin-right: 4px;
	margin-top: 2px;
}

.ui-layout-unit .ui-layout-unit-content {
	padding: 23px;
}

.ui-layout-unit .header {
	font-size: 20px;
}

.pg50 {
	width: 50%;
}

table .noneformat {
	border: 0px;
	border-spacing: 0px;
	width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 90% !important;
}

.panelw100 {
	width: 95%;
	min-height: 500px;
}

.panelw100  table {
	width: 100%;
}

.seOnMe95 {
	width: 90% !important;
}

.ui-inputfield {
	width: 100%
}

.hlRed {
	color: red
}

.btchat {
	width: 2em !important;
}

.floatl {
	float: left;
}

.floatr {
	float: right;
	background: #D6D6A6 !important;
}

.ui-widget-overlay {
	z-index: 1 !important;
}

.ui-datatable-scrollable-body {
	outline: #ccc auto 0.5px;
}

.ui-datatable {
	font-size: 13px !important;
}

.ui-button {
	font-size: 13px !important;
}

input.ui-state-error {
	color: black !important;
}

.menubar li {
	margin-left: 10px !important;
}

.ui-menuitem-icon {
	margin-top: -1px;
}

.ui-menuitem ul {
	width: 270px !important;
}

.ui-overlaypanel-content {
	font-size: 13px !important;
}

.ui-helper-reset {
	font-size: 13px !important;
}

.colum270 tbody>tr>td {
	width: 270px;
}

.noneformmat {
	border-spacing: 0px !important;
}

.ui-tabs {
	font-size: 13px !important;
}

.panelthreeColumn>tbody>tr>td {
	width: 370px;
}

.panelthreeColumn textarea {
	width: 95%;
}

.panelthreeColumn .ui-selectonemenu {
	width: 190px;
}

.panelSub {
	width: 100%;
}

.panelSub>tbody>tr>td input {
	width: 210px;
}

.panelSub2 {
	width: 100%;
}

.panelSub2>tbody>tr>td input {
	width: 100%;
}

.panelSubNew {
	width: 100%;
}

.miniiputdate input {
	width: 100px !important;
}

.tabledetail {
	white-space: nowrap;
	display: inline-block;
	width: 100%;
}

.tabledetail .ui-paginator-bottom {
	width: auto !important;
	float: right;
}

.tabledetail .buttondetail {
	float: left;
	margin: 0px 3px;
	width: 2em;
}

.noneformmat .stwidth input {
	width: 120px;
}

.ui-tooltip {
	font-size: 12px;
}

.ui-growl-message {
	font-size: 13px;
}

.ui-growl-item-container {
	background: darkcyan !important;
}
.ui-column-title {
	font-weight: 100;
}

.widthCode {
	width: 30% !important;
	padding-right: 10px;
}

.widthName {
	width: 70%;
}

.ui-spinner-button {
	margin-right: -10px !important;
}

.ui-inplace {
	color: blueviolet;
}

.w10 {
	width: 10%;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.w90 {
	width: 90%;
}

.w100 {
	width: 100%;
}

.w120px {
	width: 120px;
}

.ui-spinner-button {
	z-index: 1 !important;
}

.ui-dialog-title {
	font-size: 18px !important;
}

.ui-autocomplete-panel {
	max-height: 200px;
}

.noneformatfs .ui-fieldset-legend {
	padding: 0.2em 0.2em !important;
	border: 0px;
	background: none;
	font-weight: bold;
}

.noneformat .inputfield {
	width: 100%;
}

.textareacustom50 {
	height: 50px !important;
}

.textareacustom30 {
	height: 30px !important;
}

.textareacustom40 {
	height: 40px !important;
}

.text_right input {
	text-align: right;
}

.ui-calendar>button {
	float: right;
	padding: 0px;
	border: 0px !important;
	background: none !important;
	box-shadow: none !important;
	width: 25px;
	margin-top: -26px !important;
    margin-right: 0px !important;
}

.subw40 input {
	width: 120px;
}

.subw40 button {
	margin-right: 3px;
}

.tablebatch tr {
	background: #d2efd7;
}

.tablebatch th {
	border-color: #d2efd7;
}

.highlight1 {
	color: red;
}

.vertical_cus tbody {
	vertical-align: top;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.textright {
	text-align: right;
}

.sliptcus .ui-state-default {
	border: 1px solid #1f89ce !important;
	color: #fff !important;
	background: #2399e5 !important;
	outline: none !important;
}
.sliptcus .ui-state-hover {
	border: 1px solid #156090 !important;
	background: #1f89ce !important;
	outline: 0 none !important;
}

.buttoncus {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none !important;
	color: #fff;
	background-color: #20b2aa !important;
	border: none;
	box-shadow: 0 4px #999 !important;
}

.buttoncus:hover {
	background: #3e8e41 !important;
}

.buttoncus:active {
	background-color: #3e8e41;
	box-shadow: 0 2px #666 !important;
	transform: translateY(2px);
}
.class_dis div.ui-state-disabled {
	opacity: unset !important;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.tabledetail .ui-datatable-subtable-header {
	text-align: center;
	background: darkseagreen;
}

.stylemenu {
	width: 250px !important;
}

.icondelete {
	border: none;
	display: block;
	background-position: -134px -7px;
	width: 19px;
	height: 18px;
	background-image: url(#{request.contextPath}/resources/icon/images.jpg);
}

.iconedit {
	border: none;
	display: block;
	width: 16px;
	height: 16px;
	background-image:url(#{request.contextPath}/resources/icon/iconedit.png);
}

.mutipleCusMember>.ui-state-default {
	width: 96%;
}
.hidenHeader {
    margin-top: -120px !important;
}
.hidenbutton {
    background: url(/consumption/resources/icon/toggle-up.gif.gif)
 no-repeat scroll top center transparent;
    margin: auto;
    z-index: 954;
    margin-top: 22px;
}
.showbutton {
    background: url(/consumption/resources/icon/toggle-dn.gif.gif)
 no-repeat scroll bottom center transparent;
    margin: auto;
    height: 13px;
    z-index: 954;
    margin-top: 24px;
}

.nhapdlgbig input{
	height: 50px !important;
} 
.nhapdlgbig .fa-search{
	top:19px !important;
}

