@media print {
section.page {

visibility: visible;

page-break-inside: auto !important;

display: block !important;

          width: auto !important;

height: auto !important;

overflow: visible !important;

-webkit-print-color-adjust: exact;

     }